<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Cod institute:</strong>
    <%= product.cod_institute %>
  </p>

  <p>
    <strong>Cod senecyt:</strong>
    <%= product.cod_senecyt %>
  </p>

  <p>
    <strong>Physical code:</strong>
    <%= product.physical_code %>
  </p>

  <p>
    <strong>Previous cod:</strong>
    <%= product.previous_cod %>
  </p>

  <p>
    <strong>Product type:</strong>
    <%= product.product_type %>
  </p>

  <p>
    <strong>Product serie:</strong>
    <%= product.product_serie %>
  </p>

  <p>
    <strong>Product model:</strong>
    <%= product.product_model %>
  </p>

  <p>
    <strong>Product color:</strong>
    <%= product.product_color %>
  </p>

  <p>
    <strong>Product material:</strong>
    <%= product.product_material %>
  </p>

  <p>
    <strong>Product brand:</strong>
    <%= product.product_brand %>
  </p>

  <p>
    <strong>Product condition:</strong>
    <%= product.product_condition %>
  </p>

  <p>
    <strong>Product description:</strong>
    <%= product.product_description %>
  </p>

</div>
